div#chatter(md-theme='chatter', layout='row', md-theme-watch, flex)
	//- Sidebar
	chatter-sidebar(layout='column',
		ng-if='socketFetched',
		model='sidebar')

	//- Main content
	md-content(layout='column', flex)
		md-card(md-colors="::{backgroundColor: 'primary-700'}",
			ng-if='window.tabs.length === 0 && welcomeMsgOpen')
			md-card-title
				md-card-title-text
					span.md-headline Welcome to Chatter
			md-card-content
				p
					| Click on a chat room on the left to join or create your own.
			md-card-actions(layout="row" layout-align="end center")
				md-button.md-icon-button(ng-click='closeWelcomeMsg()')
					md-icon(md-font-library='material-icons')
						| close

		div(ng-if='window.tabs.length > 0', layout='column', flex)
			chatter-window(model='window', layout='row', flex)
			chatter-messenger(model='messenger')