[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#banner {
	padding: 0 8px;
}

#sidebar md-list-item .md-button {
	margin: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

#sitehead {
	margin: 20px;
	margin-top: 60px;
}

.innerNav {
	z-index: 1 !important;
}

md-content #GraphSort {
	background-color: #EEEEEE !important;
}