[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#banner {
	padding: 0 8px;
}

#sitehead {
	margin: 20px;
	margin-top: 60px;
}

.innerNav {
	z-index: 1 !important;
}

#main-content {
	background-color: #EEEEEE !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Home page */
#home md-grid-tile {
	background-size: contain;
}